body{
    font-family: 'DM Serif Text', serif;
margin: 0px;
padding: 0px;


}
.name-highlite{
    color: rgb(245, 165, 17);
    
    }
.link-button{
        text-decoration:  none;
        background-image: linear-gradient(20deg, lightsalmon,tomato   ) ;
        padding:10px 20px;
        border-radius: 5px;
        color: wheat;
        font-weight:;
}
        
.content{
width: 33%;
margin: 5%;
padding: 2%;
display: inline-block;

}
.content h2{

   font-size: 50px;
}
.content p{
    font-size: 30px;
}

.content img{
width:100%;
}
.cards{

background-color: rgb(230, 223, 223);
    width: 400px;
box-shadow: 10px 10px 30px grey;
text-align: center;
display: inline-block;
margin: 20px;
margin-top: 5px;
}
.imgg img{
width: 100%;

}
.box h2{
text-align: center;
}

.last{

    width: 1000px;
    height: 200px;
    background-image: url(" img/2m.png");
    background-size: 100%;
    border-radius: 5%;
    margin-left: 150px;
}
.last h2{
font-size: 40px;
color: wheat;
margin: 100px;
padding: 80px;
}
.last button{

    color: rgb(221, 20, 13);
margin: -5opx;
 padding: -20px;
}



}
.foter{



}