body{
    font-family: 'DM Serif Text', serif;
margin: 0px;
padding: 0px;


}
.header{

float: right;

}

.header ul li{
    display:inline-block;
  font-size: 25px;
margin-left: 80px;
padding: 10px;
  }


.name-highlite{
    color: rgb(119, 230, 15);
    
    }
.link-button{
        text-decoration:  none;
        background-image: linear-gradient(20deg, lightsalmon,tomato   ) ;
        padding:10px 20px;
        border-radius: 5px;
        color: wheat;
        font-weight:;
}
        
.content{
width: 35%;
margin: 5%;
padding: 2%;
display: inline-block;

}
.content h2{

   font-size: 50px;
}
.content p{
    font-size: 30px;
}

.content img{
width:100%;
}
.cards{

background-color: rgb(230, 223, 223);
    width: 400px;
box-shadow: 10px 10px 30px grey;
text-align: center;
display: inline-block;
margin: 20px;
margin-top: 5px;
}
.imgg img{
width: 100%;

}
.box h2{
text-align: center;
}

.last{

    width: 1000px;
    height: 200px;
    background-image: url(" img/2m.png");
    background-size: 100%;
    border-radius: 5%;
    margin-left: 150px;
    margin-top: 200px;

    box-shadow: 10px 10px 30px rgb(133, 128, 128);

}
.last h2{
font-size: 40px;
color: wheat;
margin: 60px;
padding: 10px;
display: inline-block;
margin-left: 200px;
}
.last button{
    text-decoration:  none;
    background-image: linear-gradient(20deg, rgb(120, 243, 176),rgb(74, 180, 48)   ) ;
    padding:10px 20px;
    border-radius: 8px;
    color: wheat;
    font-weight:10px;
margin-left: 300px;

}
footer{
    text-align: center;
    padding: 3px;
 
    color: rgb(48, 153, 185);
    font-size: 30px;
    margin-top: 60px;
}
footer img{
width: 50px;

}